.bwg_slideshow_image_wrap {
	position:relative;
	display: block;
	margin:0px;
	text-align: center;
	/*HEIGHT FROM HEADER.PHP*/
	clear:both;
	width:100% !important;
	overflow:hidden !important;
	
}


  .bwg_slideshow_image_wrap * {

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
  }

  .bwg_slideshow_image_wrap > div {
	

  }

  .bwg_slideshow_image {
		width:100%;
  }
  .bwg_slideshow_prev_btn,
  .bwg_slideshow_next_btn {
	
  }
 
  #bwg_slideshow_play_pause {        
	bottom: 0;
	cursor: pointer;
	display: table;
	height: inherit;
	outline: medium none;
	position: absolute;
	width: 30%;
	left: 35%;
	z-index: 13;
  }
  #bwg_slideshow_play_pause:hover #bwg_slideshow_play_pause-ico {
	display: inline-block !important;
  }
  #bwg_slideshow_play_pause:hover span {
	position: relative;
	z-index: 13;
  }
  #bwg_slideshow_play_pause span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
  }
  #bwg_slideshow_play_pause-ico {  
	display: none !important;
	cursor: pointer;
	position: relative;
	z-index: 13;
  }
  #bwg_slideshow_play_pause-ico:hover {  
	display: inline-block;
	position: relative;
	z-index: 13;
  }
  #spider_slideshow_left,
  #spider_slideshow_right {
	bottom: 0;
	cursor: pointer;
	display: inline;
	outline: medium none;
	position: absolute;
	z-index: 13;
	height:5%;
	width:1%;
	background-size: 100% 100% !important;
  }
  #spider_slideshow_left {	
	left: 10px;
	top:50%;
	background:url(Arrow-left.png);
  }
  #spider_slideshow_right {
	right:10px;
	top:50%;
	background:url(Arrow-right.png);  
  }
  
  #spider_slideshow_left:hover,
  #spider_slideshow_right:hover {
	visibility: visible;
	/*display: inline-block !important;*/
  }
  
  #spider_slideshow_left:hover span {
	left: 20px;
  }

  #spider_slideshow_right:hover span {
	left: auto;
	right: 20px;
  }
  #spider_slideshow_left-ico span,
  #spider_slideshow_right-ico span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	z-index: 13;
  }
  #spider_slideshow_left-ico,
  #spider_slideshow_right-ico {
	z-index: 13;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	cursor: pointer;
	display: table;
	left: -9999px;
	line-height: 0;
	margin-top: -15px;
	position: absolute;
	top: 50%;
	/*z-index: 10135;*/
  }
  #spider_slideshow_left-ico:hover,
  #spider_slideshow_right-ico:hover {
	cursor: pointer;
  }
  
  .bwg_slideshow_image_container {
	display: table;
	position: relative;
	top:0px;
	left:0px;
	text-align: center;
	vertical-align: middle;
	width:100%;
  }
  
  
  .bwg_none_selectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  .bwg_slideshow_title_container {
	display: table-cell;
	margin: 0 auto;
	position: relative;
	vertical-align: middle;
  }
  
   .bwg_slideshow_title_container > div {
		display:block;
		width:100%;
   }
 
  .bwg_slideshow_title_span {
	display: table-cell;
	overflow: hidden;
	position: relative;
	/*text-align FROM HEADER.PHP*/
	/*vertical-align FROM HEADER.PHP*/
  }
  .bwg_slideshow_description_span {
	
	display: table-cell !important;
	

	overflow: hidden;
	position: relative;
	/*text-align FROM HEADER.PHP*/
	/*vertical-align FROM HEADER.PHP*/

  }


  .bwg_slideshow_title_text {
	text-decoration: none;
	position: relative;
	z-index: 11;
	display: inline-block;
	max-width: 33%;
	word-break: break-all;   
	margin:10px;
	font-weight:bold;
	background:rgba(0,0,0,0.5);
  }
  
  .bwg_slideshow_description_text {
	text-decoration: none;
	position: relative;
	z-index: 11;
	margin: 5px;
	display: inline-block;
	max-width: 33%;
	word-break: break-all;   
	margin:10px;
	background:rgba(0,0,0,0.5);
	font-weight: 600;
	text-align:right;
	padding:0 7px 7px;
  }
  .bwg_slideshow_description_text h2{
	line-height: 100%;  
  }
  
    @media screen and (max-width: 640px){
    .bwg_slideshow_description_text {
		 overflow : hidden;
		  text-overflow: ellipsis;
		  display: -webkit-box;
		  -webkit-line-clamp: 3;
		  -webkit-box-orient: vertical;
       	width:100%;
		max-width:100%;
		font-size:12px !important;
		margin:0px;
		padding:0px;
	}
	
	.bwg_slideshow_description_text h1,
	.bwg_slideshow_description_text h2
	{
        line-height: 100%;
		font-size: 18px;
	}
	.bwg_slideshow_description_span {
		display: table-cell !important;
		overflow: hidden;
		position: relative;
		padding-right:8%;
		padding-left:8%;
		padding-bottom:10px;
		/*text-align FROM HEADER.PHP*/
		/*vertical-align FROM HEADER.PHP*/

 	}

}
  
  .bwg_slideshow_description_text p{
	margin-bottom:0;
}

.bwg_slideshow_description_text h4{
	font-weight: normal;
}
  
   .bwg_slideshow_title_text.none, .bwg_slideshow_description_text.none {display:none;}

  .bwg_slide_container {
	display: table-cell;
	margin: 0 auto;
	position: relative;
	vertical-align: middle;
	width: inherit;
	height: inherit;
  }
  .bwg_slide_bg {
	margin: 0 auto;
	width: inherit;
	height: inherit;
	overflow:hidden !important;
  }
  .bwg_slider {
	height: inherit;
	width: inherit;
  }
  .bwg_slideshow_image_span {
	width: inherit;
	height: inherit;
	display: table-cell;
	filter: Alpha(opacity=100);
	opacity: 1;
	position: absolute;
	vertical-align: middle;
	z-index: 2;
	overflow:hidden !important;
  }
  .bwg_slideshow_image_second_span {
	width: inherit;
	height: inherit;
	display: table-cell;
	filter: Alpha(opacity=0);
	opacity: 0;
	position: absolute;
	vertical-align: middle;
	z-index: 1;
	overflow:hidden !important;
  }
  .bwg_grid {
	display: none;
	height: 100%;
	overflow: hidden;
	position: absolute;
	width: 100%;
  }
  .bwg_gridlet {
	opacity: 1;
	filter: Alpha(opacity=100);
	position: absolute;
  }
  
  .bwg_slideshow_dots {
	display: inline-block;
	position: relative;
	cursor: pointer;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1) inset, 1px 1px 1px rgba(255,255,255,0.1);
	 width:10px;
	height: 10px;
	border-radius: 10px;
	background: #00f;
	margin: 10px;
	overflow: hidden;
	z-index: 17;
  }
		
  .bwg_slideshow_dots_container {
	display: table;
	position: absolute;
	/*width FROM HEADER.PHP*/
  }
  .bwg_slideshow_dots_thumbnails {
	left: 0px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	
  }
  .bwg_slideshow_dots_active {
	opacity: 1;
	background:#0f0;
	filter: Alpha(opacity=100);
  }
  .bwg_slideshow_dots_deactive {
  
  }
  
  .bwg_slideshow_image_span1 {
	 display: table; 
	 width: inherit; 
	 height: inherit;
  }
  .bwg_slideshow_image_span2 {
	 display: table-cell; 
	 vertical-align: middle; 
	 text-align: center;
  }
